<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pixellore.gallerysearch">
    <!-- Gallery needs access to external storage to get all images -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" /> <!-- Android 11 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        android:windowSoftInputMode="stateHidden|adjustPan">
        <activity
            android:name=".AboutAppActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pixellore.gallerysearch.MainActivity" />
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".ImageDetailActivity"
            android:exported="false"
            android:parentActivityName=".ImageDisplay">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pixellore.gallerysearch.ImageDisplay" />
        </activity>
        <activity
            android:name=".ImageDisplay"
            android:exported="false"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pixellore.gallerysearch.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Gallery Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>